@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Noto Sans', sans-serif;
}

.header {
  width: 100vw;
  height: 130px;
  padding-top: 15px;
  background-color: #4db6ac;
}

.header__headline {
  text-align: center;
  font-weight: lighter;
  margin-top: 0;
}

.header__navigation {
  display: flex;
  background-color: #fff;
  width: 250px;
  margin: 0 auto;
  box-shadow: 0 1px 4px #666;
  padding: 10px;
  border-radius: 4px;
}

.header__navigation > a {
  flex-grow: 1;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.header__navigation > a:not(:last-child){
  border-right: 1px solid #333;
}
