@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

:root {
  --primary-color: #4db6ac;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Noto Sans', sans-serif;
}

.header {
  width: 100vw;
  height: 130px;
  padding-top: 15px;
  background-color: var(--primary-color);
  box-shadow: 0 1px 3px #999;
}

.header__headline {
  text-align: center;
  font-weight: lighter;
  margin-top: 0;
}

.header__navigation {
  display: flex;
  background-color: #fff;
  width: 250px;
  margin: 0 auto;
  box-shadow: 0 1px 4px #666;
  padding: 10px;
  border-radius: 4px;
}

.header__navigation > a {
  flex-grow: 1;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.header__navigation > a:not(:last-child){
  border-right: 1px solid #333;
}

.posts {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
}

.posts__post {
  margin: 20px 0;
  height: 95px;
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 1px 3px #999;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.posts__votes {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 40px;
  justify-content: space-around;
  text-align: center;
  align-self: center;
}

.posts__vote-button {
  color: var(--primary-color);
  text-shadow: 0 1px 3px #999;
  font-size: 1.8rem;
  cursor: pointer;
  user-select: none;
}

.posts__post-title,
.posts__post-time {
  margin: 0;
}

.posts__post-time {
  font-size: 0.8rem;
}

.posts__post-title {
  font-size: 1.15rem;
}

.posts__post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posts__post-author {
  font-size: 0.9rem;
}

.floating-button {
  background-color: var(--primary-color);
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 10px #999;
  font-size: 2.5em;
  color: #333;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}