@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #29b6f6;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Noto Sans', sans-serif;
  color: #333;
}