@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #29b6f6;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: 'Noto Sans', sans-serif;
  color: #333;
}

.button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  padding: 10px;
  color: #333;
  transition: background-color .2s;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  height: 40px;
  display: inline-block;
}

.button--action {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #f2f2f2;
}

.not-found {
  margin: 20px auto;
  text-align: center;
}