.post-card {
  width: 90%;
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 1px 3px #999;
  border-radius: 4px;
  margin: 30px auto;
}

.post-card__title {
  font-weight: normal;
  margin-bottom: 10px;
}

.post-card__body {
  padding: 1.8em;
  margin: 0;
  line-height: 1.7em;
  font-size: 1.05em;
}

.post-card__header {
  margin: 0;
  padding: 0 0 0 1.4em;
  box-shadow: 0 1px 4px #ddd;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
}

.post-card__header-info {
  flex-grow: 1;
}

.post-card__below-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5em;
}