.posts {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
}

.posts__post {
  margin: 20px 0;
  height: 95px;
  background-color: #fff;
  box-shadow: 0 1px 3px #999;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  transition: box-shadow .2s;
}

.posts__post:hover {
  box-shadow: 0 3px 5px #ccc;
}

.posts__post-title,
.posts__post-time {
  margin: 0;
}

.posts__post-time {
  font-size: 0.8rem;
}

.posts__post-title {
  font-size: 1.15rem;
}

.posts__post-info {
  display: flex;
  padding: 8px;
  width: 100%;
  text-decoration: none;
  color: #333;
  flex-direction: column;
  justify-content: space-between;
}

.posts__post-author {
  font-size: 0.9rem;
}